<div class="container-carrito" style="padding: 20px;">
  
  <div style="display: flex; align-items: center; margin-bottom: 20px;">
    <button mat-mini-fab color="accent" (click)="volverAlBuscador()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 style="margin: 0 0 0 15px;">Mi Cesta de la Compra</h2>
  </div>

  <mat-tab-group>
    <mat-tab label="Mercadona">
      <mat-list>
        <mat-list-item *ngFor="let item of itemsAgrupados.mercadona">
          {{item.nombre}} - <b>{{item.precio}}€</b>
        </mat-list-item>
        <p *ngIf="itemsAgrupados.mercadona.length === 0" style="padding: 20px;">Cesta vacía</p>
      </mat-list>
    </mat-tab>

    <mat-tab label="Carrefour">
      <mat-list>
        <mat-list-item *ngFor="let item of itemsAgrupados.carrefour">
          {{item.nombre}} - <b>{{item.precio}}€</b>
        </mat-list-item>
        <p *ngIf="itemsAgrupados.carrefour.length === 0" style="padding: 20px;">Cesta vacía</p>
      </mat-list>
    </mat-tab>

    <mat-tab label="Dia">
      <mat-list>
        <mat-list-item *ngFor="let item of itemsAgrupados.dia">
          {{item.nombre}} - <b>{{item.precio}}€</b>
        </mat-list-item>
        <p *ngIf="itemsAgrupados.dia.length === 0" style="padding: 20px;">Cesta vacía</p>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>